/*======================================================================*\
|| #################################################################### ||
|| # Copyright ©2006-2009 Youjoomla LLC. All Rights Reserved.           ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/


/*

dropdown c0c2c1 , D9DBDA
main 8ec5eb , login 730d15
*/
body#color{
background: url(../images/full_bg.png) repeat;
}
#fullbg{
background: url(../images/main_bg.png) repeat-x left top;
}
#footer{
background: url(../images/acreed/footer_bg.gif) no-repeat center top;
}
#centerbottom{
background:#151515;
border:1px solid #252525;
}
#top_menu,#top_menu_d{
border-right:1px solid #252525;
}
#header{
background: url(../images/acreed/header.jpg) no-repeat 1px bottom;
}
#logo{
background: url(../images/acreed/logo.png) no-repeat left bottom;
}
#hero{
height:205px;
width:174px;
position:absolute;
left:-173px;
top:0px;
z-index:0;
background: url(../images/acreed/hero.jpg) no-repeat left top;

}
/*searchbox
--------------------- */
.search_blank,
.search{
background: url(../images/acreed/search.gif) no-repeat left center;
}
.search .inputbox,
.search_blank .inputbox_blank{
color:#737373;
}
.search .inputbox:hover,
.search .inputbox:hover,
.search .inputbox:focus,
.search_blank .inputbox_blank:hover,
.search_blank .inputbox_blank:focus{
border:0;
background:none;

}

/*template css 
--------------------- */
a:link, a:visited {
text-decoration: none;
color:#dddbdb;
}
a:focus,a:hover {
color:#8ec5eb;
text-decoration: none;
}
h1,h3,h4,
h5,h6,h2 {
color:#8ec5eb;
}
.small,.createdate,.modifydate,.mosimage_caption,.createby{
text-transform: uppercase;
color:#353535;
font: 10px Tahoma, Verdana, "Lucida Sans";
}
.componentheading,
.contentheading,
.contentheading a:link,
.contentheading a:visited,
.contentheading a:link,
.contentheading a:visited{
color:#8ec5eb;
}
#pathway{
border:1px solid #2a2a2a;
}
.toclink{
border:1px solid #2a2a2a;
}
fieldset{
border:1px solid #2a2a2a;
}
.yjsquare_in fieldset{
border:none;
}
.inputbox {
background: #212121;
border: 1px solid #2a2a2a;
color:#808080;
}
.inputbox:hover, .inputbox:focus {
background: #2a2a2a;
border: 1px solid #000;
}
/*buttons
--------------------- */
.button,.validate {
background: url(../images/acreed/button.gif) no-repeat left center;
color:#000;
}
a.button:link,
a.button:visited,
a.button:focus{
color:#000;
padding:3px;
}
.back_button a:hover,.back_button a:active {
color: #fff;
text-decoration: none;
}
a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a, .back_button a {
background:#1e1e1e;
color:#000;
}
a.readon:link, a.readon:visited,
a.readmore-link,a.comment-link{
background:url(../images/acreed/button.gif) no-repeat left center;
color:#000;
}
.readon span{
}
a.readon:hover,.pagenavbar a:hover,
a.readmore-link:hover,a.comment-link:hover {
color:#fff;
}
.componentheading_frontpage{
background:url(../images/acreed/h3.png) no-repeat left top;
color:#000;
}
/*default square modules
--------------------- */
.yjsquare h3{
color:#000;
background: url(../images/acreed/h3.png) no-repeat left top;
}
.yjsquare h3 span{
color:#000;
}
.yjsquare{
color:#555555;
}
.yjsquare_in{
border:1px solid #252525;
background:#070707;
}
#bottom .yjsquare h3 span,
#bottom .yjsquare h3{
color:#fff;
}
/*_yj1*/
.yjsquare_yj1 h3{
color:#8ec5eb;
padding:0 0 0 0px;
font-size:15px;
}
.yjsquare_yj1 h3 span{
color:#8ec5eb;
}
.yjsquare_yj1{
}
/*_yj2*/
.yjsquare_yj2 h3{
color:#8ec5eb;
background:#292929;
border-bottom:1px solid #202020;
font-size:15px;
}
.yjsquare_yj2 h3 span{
color:#070707;
}
.yjsquare_yj2{
background:#292929;
}
.yjsquare_yj2 .yjsquare_in {
background:#292929;
border:0;
}
/*blank*/
.yjsquare_blank   {
}
.yjsquare_blank  h3 {
}
.yjsquare_blank .yjsquare_in{
border:0;
background:none;
}


/*top menu
--------------------- */

#horiznav ul li a {
color: #fff;
background:none;
}
#horiznav ul li a:hover,
#horiznav ul li:hover a,
#horiznav ul li.sfHover a {
color: #8ec5eb;
background: url(../images/acreed/topmenu/hover_l.png) no-repeat left bottom;
}
#horiznav li#current a,
#horiznav li#current a:hover,
#horiznav li#current:hover a,
#horiznav li#current.sfHover a,
#horiznav li.active a {
color: #8ec5eb;
background: url(../images/acreed/topmenu/active_l.png) no-repeat left bottom;
}
#horiznav li#current,
#horiznav li#current:hover,
#horiznav li#current.sfHover,
#horiznav li.active  {
background: url(../images/acreed/topmenu/active_r.gif) no-repeat right bottom;
}
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li#current:hover li a,
#horiznav ul li#current.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul ul li.active  {
color: #fff;
background-image: none;
}
#horiznav li:hover ul, 
#horiznav li li:hover ul, 
#horiznav li li li:hover ul, 
#horiznav li li li li:hover ul,
#horiznav li.sfHover ul, 
#horiznav li li.sfHover ul, 
#horiznav li li li.sfHover ul,
#horiznav li li li li.sfHover ul,
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul li.sfHover ul ul li a {
background-color: #c0c2c1;
}
#horiznav li ul li a:hover,
#horiznav li ul li ul li a:hover,
#horiznav li li:hover,
#horiznav ul li li.sfHover,
#horiznav li li.sfHover a,
#horiznav ul li li:hover a,
#horiznav ul li li:hover,
#horiznav ul li li.sfHover,
#horiznav ul li li#current a:hover,
#horiznav li.haschild ul li#current.sfHover,
#horiznav li.haschild ul li#current:hover,
#horiznav ul li.haschild li#current a:hover{
background-color: #8ec5eb;
color: #fff;
background-image: none;
}
#horiznav ul li#current ul li a,
#horiznav ul li#current ul li,
#horiznav ul li#current ul li a:hover,
#horiznav ul li#current ul li.hover
#horiznav ul li#current ul li.sfHover,
#horiznav ul li.haschild li#current a {
color: #ffffff;
}
#horiznav li li {
border-bottom: 1px solid #D9DBDA;
}
#horiznav li ul {
border-right: 1px solid #D9DBDA;
border-left: 1px solid #D9DBDA;
border-bottom: none;
border-top: 1px solid #D9DBDA;
}
#horiznav li, #horiznav {
background: url(../images/acreed/topmenu/horiz_bg.png) repeat-x 0 top;
font-weight: bold;
}
#horiznav li {
background: url(../images/acreed/topmenu/normal_r.png) no-repeat right center;
}
#horiznav ul li:hover,#horiznav ul li.sfHover {
background: url(../images/acreed/topmenu/hover_r.gif) no-repeat right center;
}
#horiznav ul li ul li a.child,
#horiznav ul li ul li a.child:hover {
background: url(../images/acreed/topmenu/arrow_right.gif) 98% 50% no-repeat;
}
#horiznav ul li.active ul li a.child {
background: url(../images/acreed/topmenu/arrow_right.gif) 98% 50% no-repeat;
}
/*dropline*/
#horiznav_d{
background: url(../images/acreed/topmenu/horiz_bg_d.gif) repeat-x 0 top;
font-weight: bold;
}
#horiznav_d li {
background:none;
}
#horiznav_d li a, #horiznav_d li .separator {
background: url(../images/acreed/topmenu/normal_r.png) no-repeat right center;
color: #fff;
}
#horiznav_d ul li ul{
background: url(../images/acreed/topmenu/horiz_bg_dd.png) repeat-x 0 top;/*mora*/
}
#horiznav_d li.active, #horiznav_d li.active:hover, 
#horiznav_d li.active.sfHover, 
#horiznav_d li:hover, #horiznav_d li.sfHover {
background: url(../images/acreed/topmenu/active_l.png) no-repeat left bottom;
}
#horiznav_d li.active a, #horiznav_d li.active .separator, 
#horiznav_d li.active a:hover, #horiznav_d li.active .separator:hover, 
#horiznav_d li:hover a, #horiznav_d li:hover .separator, 
#horiznav_d li.sfHover a, #horiznav_d li.sfHover .separator {
background: url(../images/acreed/topmenu/active_r.gif) no-repeat right center;
color: #8ec5eb;
}
#horiznav_d li.haschild li a:hover,
#horiznav_d li.haschild li.active a{
text-decoration:underline;
background: url(../images/acreed/topmenu/drop_sep.png) no-repeat right bottom;
}
#horiznav_d li.haschild li a{
color:#8ec5eb;
font-weight: bold;
background: url(../images/acreed/topmenu/drop_sep.png) no-repeat right bottom;
}
/*side menus 2
--------------------- */
#mainlevel li a,
.menu li a,
a.mainlevel{
background: url(../images/acreed/mainlevel.gif) no-repeat left top;
}
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited,
a.mainlevel:hover,
a.mainlevel#active_menu,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited,
.menu li a:hover,.menu li.active a {
background: url(../images/acreed/mainlevel.gif) no-repeat left bottom;
}
a.sublevel {
background: url(../images/strelica.gif) no-repeat 0px 9px;
}
a.sublevel:hover{
text-decoration:underline;
}
#footmod a.mainlevel:hover,
#footmod a.mainlevel:active,
#footmod a.mainlevel:focus,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,
#mainlevel a#active_menu:visited,
a.mainlevel#active_menu,
a.sublevel,a.sublevel:hover,
a.sublevel:active,a.sublevel:focus,
#active_menu,a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus,
ul li a:hover,
li.active a,
li.parent a {
color:#8ec5eb;
}
a.mainlevel,
#mainlevel li a{
color:#fff;
}
.yjsquare li.active ul li a,
.yjsquare li.active li a
a.sublevel#active_menu{
color:#fff;
}
.yjsquare li.active ul li a:hover,
.yjsquare li.active ul li.active a{
color:#8ec5eb;
background: url(../images/acreed/mainlevel.gif) no-repeat left top;
}
.cp:link,
.cp:visited,
.cp:focus{
color:#8ec5eb;
}
#bottom li{
background: url(../images/acreed/mainlevel.gif) no-repeat left top;
}
/* EXTRAS */
/*yj pop login */
.poping_links{
color:#fff;
font-weight:bold;
line-height:15px;
}
.yj_guest:link,
.yj_guest:visited,
.yj_guest:focus{
color:#8ec5eb;
}
.yj_guest:hover{
color:#fff;
}
#openLogin,#openReg{
background:#730d15 url(../images/acreed/login_but.gif) no-repeat center center;
color:#000;
}
#openReg{
background:#730d15 url(../images/acreed/reg_but.gif) no-repeat center center;
}
/* login and registration box */
#reg_pop,#login_pop{
background:#000;
border:10px solid #252525;
}
/* closing buttons */
#closeReg,#closeLogin{
background:#151515;
border:1px solid #252525;
color:#fff;
font-weight:bold;
}
/*YJMS 2.0*/
#moke_content .menu_item:hover, 
#moke_content .menu_itemhover,
#moke_content_1 .menu_item_1:hover, 
#moke_content_1 .menu_itemhover,
#moke_content_2 .menu_item_2:hover, 
#moke_content_2 .menu_itemhover,
#moke_content_3 .menu_item_3:hover, 
#moke_content_3 .menu_itemhover,
#moke_content_4 .menu_item_4:hover, 
#moke_content_4 .menu_itemhover,
#moke_content_5 .menu_item_5:hover, 
#moke_content_5 .menu_itemhover{
background:url(../images/acreed/playlist_bg_hover.gif) no-repeat right bottom;
}
#moke_content .menu_item span.title_active,
#moke_content_1 .menu_item_1 span.title_active,
#moke_content_2 .menu_item_2 span.title_active,
#moke_content_3 .menu_item_3 span.title_active,
#moke_content_4 .menu_item_4 span.title_active,
#moke_content_5 .menu_item_5 span.title_active{
color:#8ec5eb;
}
#yjms_frame,#yjms_frame_1,
#yjms_frame_2,#yjms_frame_3,
#yjms_frame_4,#yjms_frame_5{
background:#080808;
padding:10px;
margin:0;
height:100%;
overflow:visible;
}
.yjsquare_yjms2,.module_yjms2,
.moduletable_yjms2{
padding:0;
margin:4px 0 0 0;
}
/*YJ newsflash*/
.yjnewsflash_title:link,
.yjnewsflash_title:focus,
.yjnewsflash_title:visited{
color:#8ec5eb;
font-weight:bold;
}
a.yjnewsflash_title:hover{
color:#fff;
}
.yjnf_descr{
color:#808080;
}
a.yjns_rm{
background:#000000 url(../images/acreed/button.gif) no-repeat left center;
color:#000;
}
a.yjns_rm:hover{
color:#fff;
}
/*YJNF 4.0*/
.yjnf4 .yjnewsflash{
border:none;
background: url(../images/yjnf4bottom.gif) no-repeat center bottom;
}
/* a class read more */
.yjnf4 .yjns_rm{
background:#000000 url(../images/acreed/button.gif) no-repeat left center;
color:#000;
}
/* image style*/
.yjnf4 .yjnewsflash img{
border:1px solid #9ecdec;
background:#78abcc;
}
/*pagination*/
.pagination_yjn,.pagination_yjn_on {
background:#bf5d0b url(../images/acreed/yjnf4_normal.gif) no-repeat center center;
color:#000;
}
.pagination_yjn_on {
background:#0f5579 url(../images/acreed/yjnf4_active.gif) no-repeat center center;
}
.pagination_yjn:hover,
.pagination_yjn_on:hover{
text-decoration:none;
background:#FF0000;
color:#000;
}
.pagination_yjn:hover{
background:#0f5579 url(../images/acreed/yjnf4_active.gif) no-repeat center center;
}
/* title class*/
.yjnf4 a.yjnewsflash_title{
font: bold 16px/14px Arial, Helvetica, sans-serif;
color:#fff;
}
.yjnf4 a.yjnewsflash_title:hover{
color:#8ec5eb;
}
.yjnewsflash_slice,
.yjnewsflash_slice_1,
.yjnewsflash_slice_2,
.yjnewsflash_slice_3,
.yjnewsflash_slice_4,
.yjnewsflash_slice_5 {
background:none;/* jagged text fix */
}
/* JComments */
#comments span.comment-author,
#comments a.author-homepage {color: #8ec5eb;background-color: inherit;font: bold 1em Verdana, Arial, Sans-Serif;margin: 0;padding: 0;}
#comments .even, #comments .odd {background-image: none;color: #8ec5eb; margin-left: 0px;margin-bottom: 10px;padding: 0;}
#comments a.author-homepage {text-decoration: none; border-bottom: 1px dotted #8ec5eb;}
