/*======================================================================*\
|| #################################################################### ||
|| # Copyright ©2006-2009 Youjoomla LLC. All Rights Reserved.           ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/
body#color{background:url(../images/full_bg.png) repeat}
#fullbg{background:url(../images/main_bg.png) repeat-x left top}
#footer{background:url(../images/hulk/footer_bg.gif) no-repeat center top}
#centerbottom{background:#151515; border:1px solid #252525}
#top_menu, #top_menu_d{border-right:1px solid #252525}
#header{background:url(../images/hulk/header.jpg) no-repeat 1px bottom}
#logo{background:url(../images/hulk/logo.png) no-repeat left bottom}
#hero{height:205px; width:180px; position:absolute; left:-179px; top:0px; z-index:0; background:url(../images/hulk/hero.jpg) no-repeat left top}

.search_blank, 
.search{background:url(../images/hulk/search.gif) no-repeat left center}
.search .inputbox, 
.search_blank .inputbox_blank{color:#737373}
.search .inputbox:hover, 
.search .inputbox:hover, 
.search .inputbox:focus, 
.search_blank .inputbox_blank:hover, 
.search_blank .inputbox_blank:focus{border:0; background:none}

a:link, a:visited{text-decoration:none; color:#dddbdb}
a:focus, a:hover{color:#308411; text-decoration:none}
h1, h3, h4, 
h5, h6, h2{color:#308411}
.small, .createdate, .modifydate, .mosimage_caption, .createby{text-transform:uppercase; color:#353535; font:10px Tahoma,Verdana,"Lucida Sans"}
.componentheading, 
.contentheading, 
.contentheading a:link, 
.contentheading a:visited, 
.contentheading a:link, 
.contentheading a:visited{color:#308411}
#pathway{border:1px solid #2a2a2a}
.toclink{border:1px solid #2a2a2a}
fieldset{border:1px solid #2a2a2a}
.yjsquare_in fieldset{border:none}
.inputbox{background:#212121; border:1px solid #2a2a2a; color:#808080}
.inputbox:hover, .inputbox:focus{background:#2a2a2a; border:1px solid #000}

.button, .validate{background:url(../images/hulk/button.gif) no-repeat left center; color:#fff}
a.button:link, 
a.button:visited, 
a.button:focus{color:#fff; padding:3px}
.back_button a:hover, .back_button a:active{color:#000; text-decoration:none}
a.pagenav, 
.pagenav_prev a, 
.pagenav_next a, 
.pagenavbar a, .back_button a{background:#1e1e1e; color:#fff}
a.readon:link, a.readon:visited, 
a.readmore-link, a.comment-link{background:url(../images/hulk/button.gif) no-repeat left center; color:#fff}
.readon span{}
a.readon:hover, .pagenavbar a:hover, 
a.readmore-link:hover, a.comment-link:hover{color:#000}
.componentheading_frontpage{background:url(../images/hulk/h3.png) no-repeat left top}

.yjsquare h3{color:#fff; background:url(../images/hulk/h3.png) no-repeat left top}
.yjsquare h3 span{color:#fff}
.yjsquare{color:#555}
.yjsquare_in{border:1px solid #252525; background:#070707}

.yjsquare_yj1 h3{color:#308411; padding:0 0 0 0px; font-size:15px}
.yjsquare_yj1 h3 span{color:#308411}
.yjsquare_yj1{}

.yjsquare_yj2 h3{color:#308411; background:#292929; border-bottom:1px solid #202020; font-size:15px}
.yjsquare_yj2 h3 span{color:#070707}
.yjsquare_yj2{background:#292929}
.yjsquare_yj2 .yjsquare_in{background:#292929; border:0}

.yjsquare_blank{}
.yjsquare_blank h3{}
.yjsquare_blank .yjsquare_in{border:0; background:none}

#horiznav ul li a{color:#fff; background:none}
#horiznav ul li a:hover, 
#horiznav ul li:hover a, 
#horiznav ul li.sfHover a{color:#308411; background:url(../images/hulk/topmenu/hover_l.png) no-repeat left bottom}
#horiznav li#current a, 
#horiznav li#current a:hover, 
#horiznav li#current:hover a, 
#horiznav li#current.sfHover a, 
#horiznav li.active a{color:#308411; background:url(../images/hulk/topmenu/active_l.png) no-repeat left bottom}
#horiznav li#current, 
#horiznav li#current:hover, 
#horiznav li#current.sfHover, 
#horiznav li.active{background:url(../images/hulk/topmenu/active_r.gif) no-repeat right bottom}
#horiznav ul li:hover li a, 
#horiznav ul li.sfHover li a, 
#horiznav ul li#current:hover li a, 
#horiznav ul li#current.sfHover li a, 
#horiznav ul li:hover ul ul li a, 
#horiznav ul ul li.active{color:#fff; background-image:none}
#horiznav li:hover ul, 
#horiznav li li:hover ul, 
#horiznav li li li:hover ul, 
#horiznav li li li li:hover ul, 
#horiznav li.sfHover ul, 
#horiznav li li.sfHover ul, 
#horiznav li li li.sfHover ul, 
#horiznav li li li li.sfHover ul, 
#horiznav ul li:hover li a, 
#horiznav ul li.sfHover li a, 
#horiznav ul li:hover ul ul li a, 
#horiznav ul li.sfHover ul ul li a{background-color:#247a01}
#horiznav li ul li a:hover, 
#horiznav li ul li ul li a:hover, 
#horiznav li li:hover, 
#horiznav ul li li.sfHover, 
#horiznav li li.sfHover a, 
#horiznav ul li li:hover a, 
#horiznav ul li li:hover, 
#horiznav ul li li.sfHover, 
#horiznav ul li li#current a:hover, 
#horiznav li.haschild ul li#current.sfHover, 
#horiznav li.haschild ul li#current:hover, 
#horiznav ul li.haschild li#current a:hover{background-color:#308411; color:#fff; background-image:none}
#horiznav ul li#current ul li a, 
#horiznav ul li#current ul li, 
#horiznav ul li#current ul li a:hover, 
#horiznav ul li#current ul li.hover
#horiznav ul li#current ul li.sfHover, 
#horiznav ul li.haschild li#current a{color:#fff}
#horiznav li li{border-bottom:1px solid #278402}
#horiznav li ul{border-right:1px solid #278402; border-left:1px solid #278402; border-bottom:none; border-top:1px solid #278402}
#horiznav li, #horiznav{background:url(../images/hulk/topmenu/horiz_bg.png) repeat-x 0 top; font-weight:bold}
#horiznav li{background:url(../images/hulk/topmenu/normal_r.png) no-repeat right center}
#horiznav ul li:hover, #horiznav ul li.sfHover{background:url(../images/hulk/topmenu/hover_r.gif) no-repeat right center}
#horiznav ul li ul li a.child, 
#horiznav ul li ul li a.child:hover{background:url(../images/hulk/topmenu/arrow_right.gif) 98% 50% no-repeat}
#horiznav ul li.active ul li a.child{background:url(../images/hulk/topmenu/arrow_right.gif) 98% 50% no-repeat}

#horiznav_d{background:url(../images/hulk/topmenu/horiz_bg_d.gif) repeat-x 0 top; font-weight:bold}
#horiznav_d li{background:none}
#horiznav_d li a, #horiznav_d li .separator{background:url(../images/hulk/topmenu/normal_r.png) no-repeat right center; color:#fff}
#horiznav_d ul li ul{background:url(../images/hulk/topmenu/horiz_bg_dd.png) repeat-x 0 top}
#horiznav_d li.active, #horiznav_d li.active:hover, 
#horiznav_d li.active.sfHover, 
#horiznav_d li:hover, #horiznav_d li.sfHover{background:url(../images/hulk/topmenu/active_l.png) no-repeat left bottom}
#horiznav_d li.active a, #horiznav_d li.active .separator, 
#horiznav_d li.active a:hover, #horiznav_d li.active .separator:hover, 
#horiznav_d li:hover a, #horiznav_d li:hover .separator, 
#horiznav_d li.sfHover a, #horiznav_d li.sfHover .separator{background:url(../images/hulk/topmenu/active_r.gif) no-repeat right center; color:#308411}
#horiznav_d li.haschild li a:hover, 
#horiznav_d li.haschild li.active a{text-decoration:underline; background:url(../images/hulk/topmenu/drop_sep.png) no-repeat right bottom}
#horiznav_d li.haschild li a{color:#308411; font-weight:bold; background:url(../images/hulk/topmenu/drop_sep.png) no-repeat right bottom}

#mainlevel li a, 
.menu li a, 
a.mainlevel{background:url(../images/hulk/mainlevel.gif) no-repeat left top}
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited, 
a.mainlevel:hover, 
a.mainlevel#active_menu, 
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited, 
.menu li a:hover, .menu li.active a{background:url(../images/hulk/mainlevel.gif) no-repeat left bottom}
a.sublevel{background:url(../images/strelica.gif) no-repeat 0px 9px}
a.sublevel:hover{text-decoration:underline}
#footmod a.mainlevel:hover, 
#footmod a.mainlevel:active, 
#footmod a.mainlevel:focus, 
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, 
#mainlevel a#active_menu:visited, 
a.mainlevel#active_menu, 
a.sublevel, a.sublevel:hover, 
a.sublevel:active, a.sublevel:focus, 
#active_menu, a.mainlevel:hover, 
a.mainlevel:active, 
a.mainlevel:focus, 
ul li a:hover, 
li.active a, 
li.parent a{color:#308411}
a.mainlevel, 
#mainlevel li a{color:#fff}
.yjsquare li.active ul li a, 
.yjsquare li.active li a
a.sublevel#active_menu{color:#fff}

.yjsquare li.active ul li a:hover, 
.yjsquare li.active ul li.active a{color:#308411; background:url(../images/hulk/mainlevel.gif) no-repeat left top}
.cp:link, 
.cp:visited, 
.cp:focus{color:#308411}
#bottom li{background:url(../images/hulk/mainlevel.gif) no-repeat left top}

.poping_links{color:#fff; font-weight:bold; line-height:15px}
.yj_guest:link, 
.yj_guest:visited, 
.yj_guest:focus{color:#308411}
.yj_guest:hover{color:#fff}
#openLogin, #openReg{background:#730d15 url(../images/hulk/login_but.gif) no-repeat center center; color:#000}
#openReg{background:#730d15 url(../images/hulk/reg_but.gif) no-repeat center center}

#reg_pop, #login_pop{background:#000; border:10px solid #252525}

#closeReg, #closeLogin{background:#151515; border:1px solid #252525; color:#fff; font-weight:bold}

#moke_content .menu_item:hover, 
#moke_content .menu_itemhover, 
#moke_content_1 .menu_item_1:hover, 
#moke_content_1 .menu_itemhover, 
#moke_content_2 .menu_item_2:hover, 
#moke_content_2 .menu_itemhover, 
#moke_content_3 .menu_item_3:hover, 
#moke_content_3 .menu_itemhover, 
#moke_content_4 .menu_item_4:hover, 
#moke_content_4 .menu_itemhover, 
#moke_content_5 .menu_item_5:hover, 
#moke_content_5 .menu_itemhover{background:url(../images/hulk/playlist_bg_hover.gif) no-repeat right bottom}
#moke_content .menu_item span.title_active, 
#moke_content_1 .menu_item_1 span.title_active, 
#moke_content_2 .menu_item_2 span.title_active, 
#moke_content_3 .menu_item_3 span.title_active, 
#moke_content_4 .menu_item_4 span.title_active, 
#moke_content_5 .menu_item_5 span.title_active{color:#308411}
#yjms_frame, #yjms_frame_1, 
#yjms_frame_2, #yjms_frame_3, 
#yjms_frame_4, #yjms_frame_5{background:#080808; padding:10px; margin:0; height:100%; overflow:visible}
.yjsquare_yjms2, .module_yjms2, 
.moduletable_yjms2{padding:0; margin:4px 0 0 0}

.yjnewsflash_title:link, 
.yjnewsflash_title:focus, 
.yjnewsflash_title:visited{color:#308411; font-weight:bold}
a.yjnewsflash_title:hover{color:#fff}
.yjnf_descr{color:#808080}
.yjns_rm{background:#000 url(../images/hulk/button.gif) no-repeat left center; color:#fff}
.yjns_rm:hover{color:#000}

.yjnf4 .yjnewsflash{border:none; background:url(../images/yjnf4bottom.gif) no-repeat center bottom}

.yjnf4 .yjns_rm{background:#000 url(../images/hulk/button.gif) no-repeat left center; color:#fff}

.yjnf4 .yjnewsflash img{border:1px solid #3FAA17; background:#237F03}

.pagination_yjn, .pagination_yjn_on{background:#bf5d0b url(../images/hulk/yjnf4_normal.gif) no-repeat center center; color:#fff}
.pagination_yjn_on{background:#0f5579 url(../images/hulk/yjnf4_active.gif) no-repeat center center}
.pagination_yjn:hover, 
.pagination_yjn_on:hover{text-decoration:none; background:#F00; color:#fff}
.pagination_yjn:hover{background:#0f5579 url(../images/hulk/yjnf4_active.gif) no-repeat center center}

.yjnf4 a.yjnewsflash_title{font:bold 16px/14px Arial,Helvetica,sans-serif; color:#fff}
.yjnf4 a.yjnewsflash_title:hover{color:#308411}
.yjnewsflash_slice, 
.yjnewsflash_slice_1, 
.yjnewsflash_slice_2, 
.yjnewsflash_slice_3, 
.yjnewsflash_slice_4, 
.yjnewsflash_slice_5{background:none}

#comments span.comment-author, 
#comments a.author-homepage{color:#308411; background-color:inherit; font:bold 1em Verdana,Arial,Sans-Serif; margin:0; padding:0}
#comments .even, #comments .odd{background-image:none; color:#308411; margin-left:0px; margin-bottom:10px; padding:0}
#comments a.author-homepage{text-decoration:none; border-bottom:1px dotted #308411}
