@charset "utf-8";
#conteudo_principal #conteudo_03 br {
	margin: 0px;
	padding: 0px;
}
#conteudo_principal #conteudo_03 span {
	font-size: 10px;
	color: #FAFEA5;
	font-family: Arial, Helvetica, sans-serif;
}
/* CSS Document */

#conteudo_principal #conteudo_04 #endereço h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#conteudo_principal #conteudo_04 #endereço h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}
#conteudo_principal #conteudo_04 #contato table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
}
#conteudo_principal  #conteudo_04  #contato  #form2  input {
	width: 175px;
	margin-bottom: 3px;
	float: left;
	height: 12px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#conteudo_principal #conteudo_04 #contato #form2 #coment {
	width: 175px;
	height: 65px;
}


#conteudo_principal #conteudo_04 #contato td {
	margin-top: 10px;
}
#conteudo_principal #conteudo_04 #contato h3 {
}

#conteudo_principal #conteudo_04 #endereço a {
	color: #FFFF95;
}
#conteudo_principal #conteudo_04 #contato #form2 a {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	text-decoration: none;
	color: #FAFEA5;
}

#conteudo_principal #conteudo_04 #endereço h2 {
	margin-left: 30px;
}

#conteudo_principal #conteudo_04 #endereço img {
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
#conteudo_principal #conteudo_04 #contato h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
